@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization

@{
    ViewData["Title"] = @_Localizer["PageTitle"];
}


<div class="row  Tarif_Container pt-20 ">

    @await Component.InvokeAsync("ListOfSlider")

    @await Component.InvokeAsync("Banner")

</div>

<div class="row">

    @await Component.InvokeAsync("BrowsCategoriesImage")

    @await Component.InvokeAsync("BuyCategoriesWithImage")
</div>

<div class="team-area Std bg-image p-3 ">
    <div class="row  justify-content-center ">
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="single-features-card">
                <div class="icon">
                    <i class="flaticon-user-experience"></i>
                </div>
                <h3 style="color:white;">@_Localizer["International perspective"]</h3>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-2">
            <div class="single-features-card">
                <div class="icon">
                    <i class="flaticon-reliability"></i>
                </div>
                <h3 style="color:white;">@_Localizer["Guaranteed sales"]</h3>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-2">
            <div class="single-features-card">
                <div class="icon">
                    <i class="flaticon-consumer-behavior"></i>
                </div>
                <h3 style="color:white;">@_Localizer["Account management"]</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div id="content" class=" mt-5   " style="border:1px solid #b0b0b0; background-color:rgba(237 , 237, 237 ,0.4)">
        <div class="row">

            @await Component.InvokeAsync("LastestAdvertisementFromEmployees")
            @await Component.InvokeAsync("LastestAdvertisementFromCustomers")

        </div>
    </div>

</div>

<!-- Start Services Area -->
<div class="services-area bg-transparent bg-f9fafb    pt-75 ">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row ">
                <div class="col-lg-9 ">
                    <h4 class="textcol">@_Localizer["The highest number of sales offers"]</h4>
                </div>

                <div class="col-lg-3 text-end">
                    <a href="/Advertisement/FilterSellerAdvertisement" class="default-btn">@_Localizer["See More"]</a>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="container-fluid slider">
                <div class="container">

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-tools"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="1872">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["tar"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-commercial-structures"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="563">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Corn"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-repair"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="2365">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Sugar"]</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination "></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- End Services Area -->
<div class="container ">
    <div class="row align-items-center justify-content-center pt-75 ">
        <div class="col-md-1 "></div>
        <div class="col-md-5 ">
            <a>
                <img src="img/popular-banner1.jpg" alt="image">
            </a>
        </div>
        <div class="col-md-5 ">
            <a>
                <img src="img/3aa84309e607e860207c82c13f67b194.jpg" alt="image">
            </a>
        </div>
        <div class="col-md-1 "></div>
    </div>
</div>


<div class="services-area bg-transparent bg-f9fafb    pt-75 ">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row ">
                <div class="col-lg-9 ">
                    <h4 class="textcol">@_Localizer["The highest number of purchase requests"]</h4>
                </div>

                <div class="col-lg-3 text-end">
                    <a href="/Advertisement/FilterCustomerAdvertisement" class="default-btn">@_Localizer["See More"]</a>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="container-fluid slider">
                <div class="container">

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-tools"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="1872">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["tar"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-commercial-structures"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="563">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Corn"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-repair"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="2365">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Sugar"]</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="Tarrif" class="pricing-area bg-f9fafb pt-75 ">
    <div class="Tarif_Container">
        <div class="section-title-wrap">
            <div class="row text-center align-items-center">
                <div class="col-lg-12">
                    <h4 class="textcol">@_Localizer["Membership plan"]</h4>

                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            @await Component.InvokeAsync("Tariffs")
        </div>
    </div>
</div>*@

<div class="shop-area  align-items-center justify-content-center text-center pt-75 ">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row align-items-center">
                <div class="col-lg-12 ">
                    <h4 class="textcol">@_Localizer["Our suggestions"]</h4>

                </div>

                <div class="col-lg-5 text-end">
                    <div class="shop-list-tabs">
                        <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                            <li class="nav-item text-center">
                                <a class="nav-link " id="popular-products-tab" data-bs-toggle="tab" href="#new-products" role="tab" aria-controls="popular-products">@_Localizer["Sales offers"]</a>
                                                                <a href="/Advertisement/FilterSellerAdvertisement" class="defawes"><i class="fas fa-arrow-circle-left"></i></a>

                            </li>

                            <li class="nav-item text-center">
                                <a class="nav-link active" id="new-products-tab" data-bs-toggle="tab" href="#popular-products" role="tab" aria-controls="new-products">
                                    @_Localizer["Purchase requests"]
                                </a>
                                <a href="/Advertisement/FilterCustomerAdvertisement" class="defawes"><i class="fas fa-arrow-circle-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="myTabContent">
        
            <div class="tab-pane fade show active" id="popular-products" role="tabpanel">
                <div class="container-fluid slider" style="margin-top: 50px;">
                    <div class="container">
                        @await Component.InvokeAsync("LastestOurOfferAdvertisementFromCustomers")
                    </div>
                </div>

            </div>

            <div class="tab-pane fade  " id="new-products" role="tabpanel">
                <div class="container-fluid slider" style="margin-top: 50px;">
                    <div class="container">
                        @await Component.InvokeAsync("LastestOurOfferAdvertisementFromEmployees")
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@await Component.InvokeAsync("OurTagetCountries")


<script src="assets\js\app.js"></script>