@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization

@{
    ViewData["Title"] = @_Localizer["PageTitle"];
}


<div class="row  m-5 mt-1 ">   
    <div class="col-md-7 col-sm-12">
        <div class="main-slides-area">
            <div class="home-slides owl-carousel owl-theme">
                <div class="main-slides-item">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-slides-image p-3" data-aos="fade-left" data-aos-delay="20" data-aos-duration="200">
                                <img  src="assets/images/main-slides/slides-1.jpeg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-slides-item">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-slides-image p-3" data-aos="fade-left" data-aos-delay="20" data-aos-duration="200">
                                <img  src="assets/images/main-slides/slides-2.jpeg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-slides-item">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-slides-image p-3" data-aos="fade-left" data-aos-delay="20" data-aos-duration="200">
                                <img  src="assets/images/main-slides/slides-3.jpeg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-slides-item">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-slides-image p-3" data-aos="fade-left" data-aos-delay="20" data-aos-duration="200">
                                <img  src="assets/images/main-slides/slides-4.jpeg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-slides-item">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main-slides-image p-3" data-aos="fade-left" data-aos-delay="20" data-aos-duration="200">
                                <img src="assets/images/main-slides/slides-5.jpeg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-5">
        <div class="about-image-wrap  mt-2">
            <img class="Bannersb" src="assets/images/page-banner/seller1.png"  alt="image">
            <img class="Bannersb" src="assets/images/page-banner/Buyer1.png"   alt="image">
           
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="container-fluid slider">
            <div class="container">
                <div class="section-title-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <h4 class="textcol">@_Localizer["Products"]</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-fluid" src="assets/images/services/Product1.jpeg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-fluid" src="assets/images/services/Product2.jpeg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-fluid" src="assets/images/services/Product3.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination "></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="container-fluid slider" style="margin-top: 50px;">
            <div class="container">
                <div class="section-title-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <h4 class="textcol">@_Localizer["Services"]</h4>
                        </div>
                    </div>
                </div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-fluid" src="assets/images/services/Service1.jpeg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-fluid" src="assets/images/services/Service2.jpeg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img class="img-fluid" src="assets/images/services/Service3.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination "></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="team-area Std bg-image p-3 ">
    <div class="row  justify-content-center ">
        <div class="col-lg-4 col-md-6 mt-2">
            <div class="single-features-card">
                <div class="icon">
                    <i class="flaticon-user-experience"></i>
                </div>
                <h3 style="color:white;">@_Localizer["International perspective"]</h3>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-2">
            <div class="single-features-card">
                <div class="icon">
                    <i class="flaticon-reliability"></i>
                </div>
                <h3 style="color:white;">@_Localizer["Guaranteed sales"]</h3>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-2">
            <div class="single-features-card">
                <div class="icon">
                    <i class="flaticon-consumer-behavior"></i>
                </div>
                <h3 style="color:white;">@_Localizer["Account management"]</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div id="content" class=" mt-5 mb-5  " style="border:1px solid #b0b0b0; background-color:rgba(237 , 237, 237 ,0.4)">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="latset-buy">
                    <div class="latset-buy-title p-3">
                        <span style="color:#035f95">
                            @_Localizer["LatestProducts"]
                        </span>
                    </div>
                    <div class="latset-buy-list">
                        <ul>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ir"> </i>ایران
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ru"> </i>روسیه
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">
                                    <a href="#">
                                        <i class="flag-icon flag-icon-fr"> </i>
                                        فرانسه
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-gb"> </i>انگلستان
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-us"> </i>آمریکا
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ae"> </i>امارات
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-de"> </i>آلمان
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-cn"> </i>چین
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-buy-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ae"> </i>امارات
                                    </a>
                                </div>
                                <div class="latset-buy-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-buy-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                <div class="latset-products">
                    <div class="latset-products-title p-3">
                        <span style="color:#035f95">@_Localizer["The latest purchase requests"]</span>
                    </div>
                    <div class="latset-products-list">
                        <ul>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-gb"> </i>انگلیس
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ca"> </i>کانادا
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ir"> </i>ایران
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-de"> </i>آلمان
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-cn"> </i>چین
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ir"> </i>ایران
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ru"> </i>روسیه
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-de"> </i>آلمان
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                            <li>
                                <div class="latset-products-link">

                                    <a href="#">
                                        <i class="flag-icon flag-icon-ru"> </i>روسیه
                                    </a>
                                </div>
                                <div class="latset-products-text">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                                <div class="latset-products-date">
                                    <a href="#">3 فروردین</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Start Services Area -->
<div class="services-area bg-transparent bg-f9fafb   align-items-center justify-content-center text-center pt-100 pb-50">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <span style="font-size:18px; color:#035f95">@_Localizer["The highest number of sales offers"]</span>
                </div>

                <div class="col-lg-5 text-end">
                    <a href="services.html" class="default-btn">@_Localizer["See More"]</a>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="container-fluid slider">
                <div class="container">

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-tools"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="1872">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["tar"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-commercial-structures"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="563">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Corn"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-repair"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="2365">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Sugar"]</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination "></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<!-- End Services Area -->
<div class="container ">
    <div class="row align-items-center justify-content-center pt-100 pb-50">
        <div class="col-md-1 "></div>
        <div class="col-md-5 ">
            <a>
                <img src="img/popular-banner1.jpg" alt="image">
            </a>
        </div>
        <div class="col-md-5 ">
            <a>
                <img src="img/3aa84309e607e860207c82c13f67b194.jpg" alt="image">
            </a>
        </div>
        <div class="col-md-1 "></div>
    </div>
</div>


<div class="services-area bg-transparent bg-f9fafb   align-items-center justify-content-center text-center pt-100 pb-50">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <span style="font-size:18px; color:#035f95">@_Localizer["Maximum number of purchase requests"]</span>
                </div>

                <div class="col-lg-5 text-end">
                    <a href="services.html" class="default-btn">@_Localizer["See More"]</a>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="container-fluid slider">
                <div class="container">

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-tools"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="1872">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["tar"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-commercial-structures"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="563">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Corn"]</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="services-details.html">
                                    <div class="icon">
                                        <i class="iconExp flaticon-repair"></i>
                                    </div>
                                    <div class="services-content">
                                        <h5>
                                            <span class="odometer" data-count="2365">00</span>
                                            <span class="small-text">+</span>
                                        </h5>
                                        <p>@_Localizer["Sugar"]</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pricing-area bg-f9fafb pt-100 pb-75">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h4 class="textcol">@_Localizer["Membership plan"]</h4>

                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="single-pricing-box bg-image">
                    <div class="pricing-header">
                        <h5 class="hColorFon">@_Localizer["Normal"]</h5>
                        <div class="price ">@_Localizer["Free"]</div>
                    </div>

                    <ul class="pricing-features">
                        <li><i class="ri-check-line"></i> @_Localizer["Landline phone number"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Mobile"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Email"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Social Medias Links"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Site Link"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Address"]</li>
                    </ul>

                    <div class="pricing-btn  text-center">
                        <a href="contact.html" class="default-btn">@_Localizer["Buy a subscription"]</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="single-pricing-box bg-image">
                    <div class="pricing-header">
                        <h5 class="hColorFon">@_Localizer["Bronze"]</h5>
                        <div class="price">3100 $ </div>
                    </div>
                    <ul class="pricing-features">
                        <li><i class="ri-check-line"></i> @_Localizer["Landline phone number"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Mobile"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Email"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Social Medias Links"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Site Link"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Address"]</li>
                    </ul>

                    <div class="pricing-btn text-center">
                        <a href="contact.html" class="default-btn">@_Localizer["Buy a subscription"]</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="single-pricing-box bg-image">
                    <div class="pricing-header">
                        <h5 class="hColorFon">@_Localizer["silver"]</h5>
                        <div class="price">5100 $ </div>
                    </div>

                    <ul class="pricing-features">
                        <li><i class="ri-check-line"></i> @_Localizer["Landline phone number"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Mobile"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Email"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Social Medias Links"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Site Link"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Address"]</li>
                    </ul>

                    <div class="pricing-btn text-center">
                        <a href="contact.html" class="default-btn">@_Localizer["Buy a subscription"]</a>
                    </div>
                </div>
            </div><div class="col-lg-3 col-md-4">
                <div class="single-pricing-box bg-image">
                    <div class="pricing-header">
                        <h5 class="hColorFon">@_Localizer["Golden"]</h5>
                        <div class="price">7100 $ </div>
                    </div>

                    <ul class="pricing-features">
                        <li><i class="ri-check-line"></i> @_Localizer["Landline phone number"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Mobile"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Email"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Social Medias Links"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Site Link"]</li>

                        <li><i class="ri-check-line"></i> @_Localizer["Address"]</li>
                    </ul>

                    <div class="pricing-btn text-center">
                        <a href="contact.html" class="default-btn">@_Localizer["Buy a subscription"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="shop-area  align-items-center justify-content-center text-center pt-75 pb-50">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row align-items-center">
                <div class="col-lg-12 ">
                    <h4 class="textcol">@_Localizer["Our suggestions"]</h4>

                </div>

                <div class="col-lg-5 text-end">
                    <div class="shop-list-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="new-products-tab" data-bs-toggle="tab" href="#popular-products" role="tab" aria-controls="new-products">@_Localizer["Sales offers"]</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="popular-products-tab" data-bs-toggle="tab" href="#new-products" role="tab" aria-controls="popular-products">@_Localizer["Purchase requests"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="new-products" role="tabpanel">
                <div class="container-fluid slider" style="margin-top: 50px;">
                    <div class="container">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Product1.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5>
                                                <a class="hfona" href="shop-details.html">زعفران قائنات</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Product2.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Product3.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Product1.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>

                                            5
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Product2.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center  ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="popular-products" role="tabpanel">
                <div class="container-fluid slider" style="margin-top: 50px;">
                    <div class="container">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Service1.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5>
                                                <a class="hfona" href="shop-details.html">زعفران قائنات</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Service2.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Service3.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Service1.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>

                                            5
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="single-shop-card2">
                                        <div class="shop-image2">
                                            <a href="shop-details.html"><img class="img-fluid" src="assets/images/services/Service2.jpeg" alt="image"></a>
                                        </div>
                                        <div class="shop-content justify-content-center text-center  ">
                                            <h5 class="hfona">
                                                <a class="hfona" href="shop-details.html">دستگاه تصفیه هوا</a>
                                            </h5>
                                            <span>1900 تومان</span>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mt-1 p-3 text-center  ">
    <div class="col-md-12 p-4">
        <h4 class="widget-title textcol">  @_Localizer["ourcountryportals"] </h4>
    </div>
    <div class="col-md-1 col-sm-4 text-center p-2 ">
        <a href="/Home">
            <i class="flag-icon flag-icon-ir  " title="@_Localizer["Iran"]" style="font-size:48px ;"> </i>
        </a>
    </div>


    <div class="col-md-1 col-sm-4 text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-ca  " title="@_Localizer["Canada"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4 text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-cn" title="@_Localizer["China"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-gb" title="@_Localizer["United Kingdom"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-ru" title="@_Localizer["Russia"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-fr" title="@_Localizer["France"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-de" title="@_Localizer["Germany"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-fi" title="@_Localizer["Finland"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-kw" title="@_Localizer["Kuwait"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-kr" title="@_Localizer["South Korea"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-in" title="@_Localizer["India"]" style="font-size:48px ;"> </i>
        </a>
    </div>

    <div class="col-md-1 col-sm-4  text-center p-2">
        <a href="/Home">
            <i class="flag-icon flag-icon-us" title="@_Localizer["America"]" style="font-size:48px ;"> </i>
        </a>
    </div>
</div>

<script src="assets\js\app.js"></script>