@model BusinessPortal.Domain.ViewModels.Admin.Service.EditServiceCategoryViewModel

@using BusinessPortal.Domain.Entities.Services
@using BusinessPortal.Web.Culture
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ویرایش دسته بندی خدمات";
    var parentId = ViewBag.parentId != null ? (ulong) ViewBag.parentId : (ulong?) null;
    var parentLocation = ViewBag.parentLocation != null ? ViewBag.parentLocation as ServicesCategory : null;
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumbs
{
<li>
    <a asp-area="Admin" asp-controller="Service" asp-action="FilterServiceCategory"> مدیریت اطلاعات دسته بندی ها / </a>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

    <form method="post" asp-action="EditServiceCategory" asp-controller="Service" asp-area="Admin" enctype="multipart/form-data">
    <input type="hidden" asp-for="ParentId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CurrentInfos" />

    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-blue">
                    @if (parentLocation != null)
                    {
                        <span class="widget-caption"> ویرایش دسته بندی های خدمات @parentLocation.UniqueName </span>
                    }
                    else
                    {
                        <span class="widget-caption"> ویرایش دسته بندی های خدمات  </span>
                    }
                    
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="UniqueName"></label>
                                <input type="text" class="form-control" asp-for="UniqueName">
                                <span class="text-danger" asp-validation-for="UniqueName"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

              
                        @{
                            int i = 0;
                        }
                        @foreach (var language in ApplicationCultures.CultureItems)
                        {
                            var data = Model.CurrentInfos.FirstOrDefault(s => s.LanguageId == language.CultureKey);
                            <div class="card">
                                <div class="card-body">
                                    <input type="hidden" asp-for="ServiceCategoryInfos[i].Culture" value="@language.CultureKey" />
                                    <h5 class="mb-4">
                                        دسته بندی خدمات ( @language.Title )
                                    </h5>
                                    <div class="form-group">
                                        <label>عنوان دسته بندی خدمات</label>
                                        <input class="form-control" asp-for="ServiceCategoryInfos[i].Title" value="@data?.Title" />
                                        <span asp-validation-for="ServiceCategoryInfos[i].Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <hr class="margin-bottom-10 margin-top-10" />

                            <br />
                            i++;
                        }

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-blue">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ویرایش
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> تصویر    </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <input type="file" class="display-none" name="serviceCategoryImage" id="ArticleImage" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                <div class="col-md-12">
                                    <label for="ArticleImage" class="file-input-style">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span class="mr-8px">لطفا  تصویر را انتخاب کنید .</span>
                                    </label>
                                </div>

                                @if (!string.IsNullOrEmpty(Model.ImageName))
                                {
                                    <div class="col-md-12 tc mt-10px">
                                        <img src="@BusinessPortal.Application.StaticTools.PathTools.ServiceCategoryOriginimage@Model.ImageName" class="Article-Priew" ImageFile="1" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 tc mt-10px">
                                        <img src="@BusinessPortal.Application.StaticTools.PathTools.DefaultProductCategoryimage" class="Article-Priew" ImageFile="1" />
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>


