@model List<BusinessPortal.Domain.Entities.BrowseCategory.Category>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization

@if (Model != null && Model.Any())
{

    <div class="mega-menu">
        <button class="mega-menu-btn">
            <i class="fa fa-bars ml-3 mr-3" aria-hidden="true" style="color: #fcb800;"></i> @_Localizer["Sale Ads Categories"]
        </button>
        <ul class="mega-menu-list">

            @foreach (var item in Model.Where(p => p.ParentId == null))
            {
                <li class="mega-menu-item">
                    <a asp-action="FilterSellerAdvertisement" asp-area="" asp-controller="Advertisement" asp-route-categoryId="@item.Id" class="mega-menu-link">
                        @item.DisplayName
                        <i class="fa fa-angle-left"></i>
                    </a>

                    @if (Model.Any(p => p.ParentId == item.Id))
                    {
                        <ul class="mega-menu-categories">
                            @foreach (var item2 in Model.Where(p => p.ParentId == item.Id))
                            {
                                <li class="mega-menu-item">
                                    <a asp-action="FilterSellerAdvertisement" asp-area="" asp-controller="Advertisement" asp-route-categoryId="@item2.Id" class="mega-menu-categories-title">@item2.DisplayName</a>

                                </li>
                            }
                        </ul>
                    }

                </li>
            }

        </ul>
    </div>

}