@model List<BusinessPortal.Domain.Entities.Product.ProductCategoryInfo>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization

@if (Model != null && Model.Any())
{

    <div class="mega-menu">
        <button class="mega-menu-btn">
             @_Localizer["Products"]
        </button>
        <ul class="mega-menu-list">
                @foreach (var item in Model.Where(p => p.ProductCategory.ParentId == null))
                {
                    <li class="mega-menu-item">
                    <a asp-action="FilterProducts" asp-area="" asp-controller="Product" asp-route-categoryId="@item.ProductCategoryId" class="mega-menu-link">
                            @item.Title
                          @if (Model.Any(p => p.ProductCategory.ParentId == item.ProductCategory.Id))
                        {
                                <i class="fa fa-angle-left"></i>
                        }
                        </a>

                        @if (Model.Any(p => p.ProductCategory.ParentId == item.ProductCategory.Id))
                        {
                            <ul class="mega-menu-categories">
                                @foreach (var item2 in Model.Where(p => p.ProductCategory.ParentId == item.ProductCategory.Id))
                                {
                                    <li class="mega-menu-item" style="text-align: right !important">
                                    <a asp-action="FilterProducts" asp-area="" asp-controller="Product" asp-route-categoryId="@item2.ProductCategoryId" class="mega-menu-categories-title">@item2.Title</a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
        </ul>
    </div>

}