@using BusinessPortal.Application.Extensions
@using BusinessPortal.Application.Convertors
@model BusinessPortal.Domain.ViewModels.Admin.Ads.FilterAdsAdminSideViewModel
@using BusinessPortal.Domain.ViewModels.Admin.Advertisement
@using BusinessPortal.Application.StaticTools

@{
    ViewData["Title"] = "لیست تبلیغات ";
}

@section Styles
    {

}

    @section Scripts
    {
    <script>

        function ShowAdvertisementLanguage(adsId) {

            console.log(adsId);

            $.ajax({
                url: "/Admin/Ads/ShowAdsLanguage",
                type: "Get",
                data: {
                    adsId: adsId
                },
                beforeSend: function () {
                    open_waiting();
                },
                success: function (response) {
                    close_waiting();
                    var modalTitle = " نمایش ریز اطلاعات آگهی";
                    $("#NormalModalTitle").html(modalTitle);
                    $("#NormalModalBody").html(response);
                    $("#NormalModal").modal("show");
                },
                error: function () {
                    close_waiting();
                    ShowMessage("خطا", "عملیات با خطا مواجه شد لطفا مجدد تلاش کنید .", "error");
                }
            });
        }


    </script>
}

    @section Breadcrumbs
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <form asp-action="FilterAdsAdminSide" asp-controller="Ads" asp-area="Admin" id="filter-search" method="get">

        <input type="hidden" asp-for="Page" />
    </form>

    <div class="col-lg-12 col-sm-12">
        <div class="well with-header with-footer table-responsive">
            <div class="header bordered-azure">
                <div class="flex-style">
                    <span>لیست تبلیغات </span>
                    <span>@Model.GetShownEntitiesPagesTitle()</span>
                </div>
            </div>

        @if (Model.Entities != null && Model.Entities.Any())
        {
            <table class="table table-hover table-bordered tc vm">
                <thead class="tc vm">
                    <tr class="tc vm">
                        <th class="tc vm">
                            #
                        </th>
                        <th class="tc vm">
                            کاربر
                        </th>
                           <th class="tc vm">
                            تصویر
                        </th>
                        <th class="tc vm">
                            زبان ها
                        </th>
                        <th class="tc vm">
                            امکانات
                        </th>
                    </tr>
                </thead>
                <tbody class="tc vm">
                    @foreach (var ads in Model.Entities)
                    {
                        <tr class="tc vm" remove-ajax-item="@ads.Id">
                               <td class="vm">
                              @ads.Id
                            </td>
                               <td class="vm">
                                <div class="flex-style-center">
                                    <div class="mr-10px">
                                        <span> نویسنده : @ads.User.Username</span>
                                        <hr class="margin-7" />
                                        <span>تاریخ انتشار : @ads.CreateDate.ToShortDateString()</span>
                                    </div>
                                </div>
                            </td>
                            <td class="vm">
                                <div class="flex-style-center">
                                    <img src="@PathTools.AdsThumbimage@ads.AdsImage" class="avatar-style" />
                                </div>
                            </td>

                            <td class="tc vm">
                                @if (ads.AdsInfos != null && ads.AdsInfos.Any())
                                {
                                    foreach (var langs in ads.AdsInfos)
                                    {
                                        if (langs.Language.LanguageTitle == "bg-BG")
                                        {
                                              <a onclick="ShowAdvertisementLanguage(@langs.Id)" class="badge light badge-primary cursor-pointer">fa-IR</a>
                                        <hr class="margin-7" />
                                        }
                                        else
                                        {
                                              <a onclick="ShowAdvertisementLanguage(@langs.Id)" class="badge light badge-primary cursor-pointer">@langs.Language.LanguageTitle</a>
                                        <hr class="margin-7" />
                                        }
                                    }
                                }
                            </td>
                        
                            <td class="tc vm">

                                <button onclick="DeleteAjax(@ads.Id, '@Url.Action("DeleteAds", "Ads", new { area = "Admin", Id = ads.Id })')" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="footer tc">
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />

            </div>
        }
        else
        {
            <partial name="_AdminNotFoundPartial" />
        }
    </div>
</div>
</div>

