@model List<BusinessPortal.Domain.ViewModels.Advertisement.LastestEmployeesAdvertisements>
@using BusinessPortal.Application.Convertors
@using BusinessPortal.Application.StaticTools
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization



@if (Model != null && Model.Any())
{
    <div class="col-sm-12 col-lg-6">
        <div class="latset-buy">
            <div class="latset-buy-title p-3">
                <span  style="color:#035f95">@_Localizer["Latest sales offers"]
                   @* آخرین محصولات*@
                </span>
            </div>
            <div class="latset-buy-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="latset-buy-link">

                                <a href="#">
                                   <img style="height: 25px;width: 25px;" src="@PathTools.Stateimage@item.AdvertisementAddress.LocationCountry.IconeName" />@item.AdvertisementAddress.LocationCountry.Title
                                </a>
                            </div>
                            <div class="latset-buy-text">
                                <p>
                                    @item.AdvertisementTitle    
                                
                                @if (item.Countries != null)
                                {
                                    <img style="height: 25px;width: 25px;" src="@PathTools.CountryThumbimage@item.Countries.FlagName" />
                                }</p>
                            </div>
                            <div class="latset-buy-date">
                                <a href="#">@item.CreateDate.ToLongDateString()</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

}