@model BusinessPortal.Domain.ViewModels.UserPanel.ProductService.EditProductServiceViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer
@using System.Globalization

@{
    ViewData["Title"] = _Localizer["PageTitle"];

    List<BusinessPortal.Domain.ViewModels.UserPanel.ProductService.CreateProductServiceViewModel> Category = ViewBag.Categories as List<BusinessPortal.Domain.ViewModels.UserPanel.ProductService.CreateProductServiceViewModel>;

    List<ulong> Selecetd = ViewBag.SelectedCategories as List<ulong>;

    var advertisementAddress = ViewBag.AdveritsementAddress;
}

@using BusinessPortal.Application.Utils
@using BusinessPortal.Domain.Entities.Address
@using BusinessPortal.Domain.Entities.Advertisement
@using BusinessPortal.Application.Extensions
@using BusinessPortal.Application.StaticTools


@section styles{
    <style>
        .quote-imgs-thumbs {
            background: #eee;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            margin: 1.5rem 0;
            padding: 0.75rem;
        }

        .quote-imgs-thumbs--hidden {
            display: none;
        }

        .img-preview-thumb {
            background: #fff;
            border: 1px solid #777;
            border-radius: 0.25rem;
            box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
            margin-right: 1rem;
            max-width: 140px;
            padding: 0.25rem;
        }

        tags.tagify {
            height: auto !important;
        }

        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }

        tags.tagify {
            height: auto !important;
        }


        .ck-content {
            height: 200px;
        }

        .custom-color {
            color: #aaa;
        }

        .font-11 {
            font-size: 11px;
        }

        .scroll_box {
            overflow-y: auto;
            overflow-x: hidden;
            height: 761px;
            margin: 0;
        }

        #Advertisement-Category-container {
            height: 500px !important;
        }

        #Advertisement-Address {
            resize: none !important;
            height: 150px !important;
        }

    </style>
}

    @section scripts{

    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagename').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImageName").change(function () {
            readURL(this);
        });

        $("#AdvertisementStatus").on("change",
            function () {
                var selectedAdvertisementStatusValue = $("#AdvertisementStatus :selected").val();
                if (selectedAdvertisementStatusValue.toLocaleLowerCase() === "notapproved") {
                    $("#RejectDescription-div").removeClass("d-none");
                } else {
                    $("#RejectDescription-div").addClass("d-none");
                }
            });

    </script>
    <partial name="_JqueryValidators" />
    <script>
        var imgUpload = document.getElementById('upload_imgs')
            , imgPreview = document.getElementById('img_preview')
            , imgUploadForm = document.getElementById('img-upload-form')
            , totalFiles
            , previewTitle
            , previewTitleText
            , img;

        imgUpload.addEventListener('change', previewImgs, false);
        imgUploadForm.addEventListener('submit', function (e) {
            //e.preventDefault();
            //alert('Images Uploaded! (not really, but it would if this was on your website)');
        }, false);

        function previewImgs(event) {
            $("#img_preview").empty();
            totalFiles = imgUpload.files.length;

            if (!!totalFiles) {
                imgPreview.classList.remove('quote-imgs-thumbs--hidden');
                previewTitle = document.createElement('p');
                previewTitle.style.fontWeight = 'bold';
                previewTitleText = document.createTextNode(totalFiles + '  عکس انتخاب شده');
                previewTitle.appendChild(previewTitleText);
                imgPreview.appendChild(previewTitle);
            }

            for (var i = 0; i < totalFiles; i++) {
                img = document.createElement('img');
                img.src = URL.createObjectURL(event.target.files[i]);
                img.classList.add('img-preview-thumb');
                imgPreview.appendChild(img);
            }
        }
    </script>
    <script>
        $('[ajax-url-button]').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var itemId = $(this).attr('ajax-url-button');
            console.log(url);
            swal({
                title: 'Warning',
                text: "Are you sure you want to perform the operation?
                    type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "yes",
                cancelButtonText: "no",
                closeOnConfirm: false,
                closeOnCancel: false
            }).then((result) => {
                if (result.value) {
                    $.get(url).then(result => {
                        if (result.status === 'Success') {
                            ShowMessage('success', result.message);
                            $('#ajax-url-item-' + itemId).hide(1500);
                        } else {
                            ShowMessage('شکست', result.message);
                        }
                    });
                } else if (result.dismiss === swal.DismissReason.cancel) {
                    swal('to announce', 'The operation was canceled', 'error');
                }
            });
        });
    </script>
}


    <div class="content-body" style=" margin-right:0px ; padding-top:0px;">
        <div class="container-fluid">
            <form asp-controller="ProductService" asp-area="UserPanel" asp-action="EditAdvertisement" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="AdvertisementID" />
                <input type="hidden" asp-for="AdsImage" />
                <input type="hidden" asp-for="UserId" />

                <div class="row">

                    <div class="col-xl-7 col-lg-7">
                        <div class="card">
                            <div class="card-header">
                                <h4>@_Localizer["AdvertisementInfo"]</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-row">

                                    <div class="form-group col-md-12">
                                        <label>  @_Localizer["AdvertisementTitle"]    </label>
                                        <input asp-for="Title" type="text" class="form-control" placeholder=" @_Localizer["AdvertisementTitlePlaceHolder"] ">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label>  @_Localizer["AdvertisementDescription"]      </label>
                                        <textarea asp-for="Description" rows="10" class="form-control" placeholder=" @_Localizer["AdvertisementDescriptionPlaceHolder"] "></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>


                                </div>


                                <button type="submit" class="btn btn-outline-primary">@_Localizer["Submit"]</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-xl-5 col-lg-5">
                    <div class="col-xl-12 col-lg-5">
                        <div class="card">
                            <div class="card-header">
                                <h4>  @_Localizer["Image"]</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <div class="form-row">
                                        <div class="card-body row">
                                            <img style="margin: auto; width: 252px" id="imagename" class="img-responsive rounded" src="@((string.IsNullOrEmpty(Model.AdsImage))? PathTools.DefaultAdvertisementimage : PathTools.ProductServiceOriginimage + Model.AdsImage )" alt="upload_img">
                                        </div>
                                        <div class="input-group mb-3">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@_Localizer["Upload"] </span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" name="ImageName" id="ImageName">
                                                <label class="custom-file-label">@_Localizer["AdvertisementImage"]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-5">

                        <div class="card" id="Advertisement-Category-container">
                            <div class="card-header">
                                <h4>@_Localizer["AdvertisementCategories"]</h4>
                            </div>
                            <div class="form-group scroll_box">
                                <div class="form-check">
                                    @foreach (var category in Category.Where(p => p.ParentId == null))
                                    {
                                        <div style="padding-right: 40px; margin-right: 10px; margin-top: 10px;">
                                            <input class="form-check-input" @((Selecetd.Contains(category.ServiceId.Value) ? "checked" : "")) type="checkbox" name="SelectedCategory" value="@category.ServiceId">
                                            <label class="form-check-label"> @category.ServiceCategoryName</label>
                                        </div>

                                        @if (Category.Any(p => p.ParentId == category.ParentId))
                                        {
                                            @foreach (var sub in Category.Where(p => p.ParentId == category.ServiceId))
                                            {
                                                <div style="padding-right: 60px; margin-right: 20px; margin-top: 5px;">

                                                    <input class="form-check-input" @((Selecetd.Contains(sub.ServiceId.Value) ? "checked" : "")) type="checkbox" name="SelectedCategory" value="@sub.ServiceId">
                                                    <label class="form-check-label"> @sub.ServiceCategoryName</label>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div> <!-- /.card-footer -->

                        </div>
                    </div>

                    @if (advertisementAddress != null)
                    {
                        <div class="col-xl-12 col-lg-5">

                            <div class="card">
                                <div class="card-header">
                                    <h4>@_Localizer["Address"]</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">


                                        <div class="form-row">

                                            <div class="form-group col-md-12">
                                                <label> @_Localizer["AddressTitle"] </label>
                                                <input type="text" readonly="" class="form-control" value="@advertisementAddress.AddressTitle">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label> @_Localizer["AddressEmail"] </label>
                                                <input type="text" readonly="" class="form-control" value="@advertisementAddress.Email">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label> @_Localizer["AddressMobile"] </label>
                                                <input type="text" readonly="" class="form-control" value="@advertisementAddress.Mobile">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label> @_Localizer["Address"] </label>
                                                <textarea readonly="" class="form-control" id="Advertisement-Address">@advertisementAddress.UserAddress</textarea>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </form>


    </div>
</div>

